
/* NAV BAR */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 60px;
  width: 100%;
  color: white;
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 0;
  z-index: 2;
}

.logo-name {
  color: #000;
  font-family: gotham-medium;
  font-size: 45px;
}

.logo-nav {
  display: flex;
  gap: 20px;
  align-items: center;
}

.logo-geoalert {
  width: 60px;
}

.nav-links a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 10px;
  display: block;
  transition: opacity 0.5s ease;
  font-family: gotham-ligth;
  font-size: 50px;
}

.hamburger {
  cursor: pointer;
  background: none;
  border: none;
  padding: 10px;
}

.hamburger span {
  display: block;
  width: 50px;
  height: 2px;
  background: black;
  margin: 12px 0;
  transition: all 0.3s ease;
}

.nav-links {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  background: #ffffff;
  width: 100%;
  text-align: start;
  padding: 300px 50px;
  height: 100vh;
  margin: 0;
  justify-items: center;
  transition: transform 0.3s ease;
  transform: translateX(100%);
}

.nav-links.active {
  transform: translateX(0);
}

.nav-links a:hover {
  opacity: 0.8;
}


.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(10px, 10px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(9px, -10px);
}

.text-decoration {
  text-decoration: none;
}



/* INTEGRANTES */

.integrantes {
  background-color: #fb2b85;
  padding: 70px 96px;
}

.integrante-um-joao {
  display: flex;
  gap: 30px;
  margin-bottom: 100px;
}

.imagens {
  border-radius: 15px;
  width: 300px;
}

.cards {
  width: 354px;
  height: 405px;
  background-color: white;
  border-radius: 13px;
  padding: 20px ;
  transition: transform 1s ease;
}

.cards:hover {
    transform: scale(1.05);
}

.icones-murilo {
  align-items: center;
}

.conteudo-card {
  justify-items: center;
}

.icones {
  margin-top: 10px;
}

.icones a {
  cursor: pointer;
}

.movendo-icones {
     transition: transform 1s ease;
}

.movendo-icones:hover {
    transform: scale(1.2);
}


.titulo {
  color: rgb(0, 0, 0);
  margin-bottom: 15px;
  font-size: 64px;
  font-family: font-gotham;
}

.sub-titulo {
  color: rgb(0, 0, 0);
  margin-bottom: 30px;
  font-size: 32px;
  font-family: font-gotham;
}

.biografia {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-family:  sans-serif;
}

.integrante-dois-murilo {
  display: flex;
  gap: 2%;
  margin-bottom: 100px;
}

.imagem-phillipo {
    width: 300px;
}


/* FOOTER */

 * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        
        
       
        
        /* Estilos do Footer */
        footer {
            background: white;
            color: black;

        }
        
        .footer-container {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            max-width: 1400px;
            margin: 0 auto;
            padding: 0 20px;
            padding: 80px 0 0 30px;
        }
        
        .footer-section {
            flex: 1;
            min-width: 220px;
            margin-bottom: 40px;
            padding: 0;
            margin-right: 20px;
        }
        
        .footer-section h3 {
            font-size: 1.5rem;
            margin-bottom: 25px;
            position: relative;
            padding-bottom: 12px;
        }
        
        .footer-section h3:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 60px;
            height: 4px;
            background: linear-gradient(to right, #4da0ff, #00d2ff);
            border-radius: 3px;
        }
        
        .footer-section ul {
            list-style: none;
        }
        
        .footer-section ul li {
            margin-bottom: 5px;
        }
        
        .footer-section ul li a {
            color: #000000;
            text-decoration: none;
            transition: all 0.3s ease;
            display: block;
            padding: 8px 0;
            font-size: 1.1rem;
        }
        
        .footer-section ul li a:hover {
            color: #000000;
            padding-left: 8px;
        }
        
        .contact-info li {
            display: flex;
            align-items: flex-start;
            margin-bottom: 20px;
        }
        
        
        .logo-section {
            display: flex;
            flex-direction: column;
        }
        
        .logo-g {
            width: 150px;
            margin-bottom: 30px;
        }
        
        .slogan {
            font-size: 1.2rem;
            line-height: 1.7;
            max-width: 300px;
            color: #000000;
            margin-bottom: 25px;
        }
        
        .social-icons {
            display: flex;
            margin-top: 15px;
        }
        
        .social-icons a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 45px;
            height: 45px;
            margin-right: 15px;
            transition: all 0.3s ease;
        }
        
        .social-icons a:hover {
            transform: translateY(-5px);
        }
        
        .footer-bottom {
            background: rgb(255, 255, 255);
            padding: 25px 0;
            text-align: center;
            margin-top: 40px;
        }
        
        .footer-bottom p {
            color: #000000;
            font-size: 1rem;
            margin-bottom: 8px;
        }
        
        .legal-links {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-top: 15px;
        }
        
        .legal-links a {
            color: black;
            text-decoration: none;
            margin: 0 15px;
            font-size: 0.95rem;
            transition: all 0.3s ease;
        }
        
        .legal-links a:hover {
            color: #3a3a3a;
        }

        .icons {
            margin-right: 15px;
            font-size: 20px;
            min-width: 25px;
        }

        /*_______________________________________________*/

        /* INTEGRANTES */

        
@media screen and (max-width: 1100px)  {
   
    #titulo_eva {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        padding: 10px;
        margin-top: 50px;
    }

    .container_titulo {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        padding: 10px;
        margin: 0;
        bottom: 10px;
    }

    .container_titulo h1 {
        font-size: 290%;
        line-height: 47px;
        width: 100%;
    }

    .container_titulo p {
        width: 95%;
        font-size: 100%;
    }

    .container_botoes_titulo {
        justify-content: left;
    }

    #container_eva {
        width: 70%;
        margin-top: 50px;
    }

    #hospitais_proximos {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        margin: 0 auto;
    }

    .card_hospitais {
        width: 90vw;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }

    .card_hospitais img:nth-child(1) {
        display: none;
    }

    .conteudo_hospitais_poximos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .lista_hospitais {
        justify-items: center;
        width: 100vw;
        margin: 0 auto;
        margin-left: 9px;
    }

    iframe {
        display: none;
    }

    .text_card {
        gap: 20px;
        width: 70vw;
        margin: 0 auto;
    }

    #servicos_para_voce {
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin: 0 auto;
        padding: 0;
        margin-top: 100px;
    }

    .text_servicos {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 100%;
        margin: 0 auto;
        padding: 10px;
    }

    .text_servicos h2, .text_servicos p {
        width: 95%;
        justify-content: baseline;
    }

    .cards_servicos {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        width: 100%;
        padding: 0;
        justify-content: center;
        margin-top: 40px;
    }

    .card_servicos {
        width: 100%;
        margin: 0 auto;
        justify-content: baseline;
        padding: 10px;
    }

    #sobre_inrea {
        width: 100vw;
        align-items: center;
        padding: 10px;
        margin: 0 auto;
        flex-direction: column;
        margin-top: 100px;
    }

    .text_sobre_inrea {
        width: 100%;
        margin: 0 auto;
        flex-direction: column;
    }

    #sobre_inrea img {
        display: none;
    }

    .conteudo_card {
        width: 300px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
    }

    .imagens {
        width: 100%;
        margin: 0 auto;
    }

    .integrantes {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 20px 0 0 0;
    }

    .integrante-um-joao {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .integrante-dois-murilo {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 30px;
        width: 100%;
    }

    .paragrafos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        padding: 10px;
    }

    .titulo {
        justify-content: center;
        align-items: center;
        font-size: 50px;
        margin: 0 0 30px 0;
    }
}

@media screen and (max-width: 720px) {

    .integrantes {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
    }

    .integrante-um-joao {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .integrante-dois-murilo {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .paragrafos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .paragrafos h1 {
        justify-content: center;
        width: 100%;
        align-items: center;
    }

}

        /* FOOTER */

  
        @media (max-width: 992px) {
            .footer-container {
                gap: 20px;
            }
            
            .footer-section {
                flex: 0 0 45%;
            }
        }
        
        @media (max-width: 768px) {
            .header {
                padding: 40px 20px;
            }
            
            .header h1 {
                font-size: 2.2rem;
            }
            
            .content {
                padding: 30px;
            }
            
            .footer-section {
                flex: 0 0 100%;
            }
            
            .footer-container {
                flex-direction: column;
            }
        }
