
/*_______________________________________________*/

/* NAV-BAR RESPONSIVO */

@media screen and (max-width: 414px) {

/* NAV-BAR */    

  .nav {
  padding: 10px 30px;
  z-index: 2;
}

.logo-nav {
  gap: 10px;
}

.logo-name {
  font-size: 35px;
}

.logo-geoalert {
  width: 40px;
}

.nav-links a {
  font-size: 30px;
  padding-bottom: 20px;
}

.nav-links {
  padding: 160px 30px;
  height: 125vh;
}

/* HEADER */

.header {
    height: 105vh;
}

.world {
  display: none;
}

.titulo-header {
  margin: 30px 0 30px 0;
}

.paragrafo-header {
  font-size: 20px;
  line-height: 30px;

}

.conteudo-header {
  gap: 0px;
}

.circle-scroll {
  width: 55px;
  height: 55px;
  margin-top: 80px;
}

.arrow {
  width: 17px;
  height: 17px;
}

/* SOLUCAO */


.section-title {
  font-size: 30px;
  margin-top: 100px;
}

.solution-steps {
  gap: 30px;
  padding: 50px 0 0 0;
}

.step {
  padding: 30px;
}

.container {
  width: 100%;
  padding: 0 30px 70px 30px;
}

/* SEÇÃO MAPA */

.sessao-mapa {
  height: 60vh;
}

.mapa-wraper {
  padding: 30px;
}

section {
  margin-bottom: 200px;
}

.titulo-mapa {
  margin: 40px 0 40px 0;
  font-size: 30px;
}

.titulo-form {
  margin: 0 0 25px 0;
  font-size: 30px;
}

.ocorrencia-wraper {
  padding: 0 50px 70px 50px;
}

.titulo-ocorrencia {
  margin: 30px 0 100px 0;
  font-size: 30px;
}

/* REGISTRAR OCORRENCIA */

.registrar-ocorrencia {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  width: 350px;
}

.img-arvore {
  display: none;
}
    
.img-tech {
  display: none;
}

/* SECAO DICAS */

.dicas {
  height: 120vh;
}

.container {
  width: 100%;
  padding: 30px;
}

.titulo-secao-dicas {
  margin-bottom: 50px;
  font-size: 30px;
}

.card-dicas {
  width: 354px;
}

/* SEÇÃO AJUDA */

.titulo-ajuda {
  font-size: 30px;
}

/* INTEGRANTES */

        
@media screen and (max-width: 1100px)  {
   

    .imagens {
        width: 100%;
        margin: 0 auto;
    }

    .integrantes {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 20px 0 0 0;
    }

    .integrante-um-joao {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .integrante-dois-murilo {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 30px;
        width: 100%;
    }

    .paragrafos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        padding: 10px;
    }

    .titulo {
        justify-content: center;
        align-items: center;
        font-size: 50px;
        margin: 0 0 30px 0;
    }
}

@media screen and (max-width: 720px) {

    .integrantes {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
    }

    .integrante-um-joao {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
    }

    .integrante-dois-murilo {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .paragrafos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .paragrafos h1 {
        justify-content: center;
        width: 100%;
        align-items: center;
    }

}

        /* FOOTER */

  
        @media (max-width: 992px) {
            .footer-container {
                gap: 20px;
            }
            
            .footer-section {
                flex: 0 0 45%;
            }
        }
        
        @media (max-width: 768px) {
            .header {
                padding: 40px 20px;
            }
            
            .header h1 {
                font-size: 2.2rem;
            }
            
            .content {
                padding: 30px;
            }
            
            .footer-section {
                flex: 0 0 100%;
            }
            
            .footer-container {
                flex-direction: column;
            }
        }

/* SESSÃO MAPA */

  @media (max-width: 800px) {
    main { padding: 0 0.2em; }
    #mapa { height: 230px; min-height: 230px; }
    .dicas-container { flex-direction: column; }

  }